html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#p5wrapper1{
    position:relative;
    top:100px;
    left:300px;
}

#p5wrapper2{
    position:relative;
    top:200px;
    left:100px;
}